{% extends 'ngRadar_Website/base.html' %}

{% block title %} Log in - ngRadar {% endblock %}
{% block everywhere %}
    <div class="row justify-content-center">
    <div class="col-md-5 col-lg-4">
        <div class="card shadow-sm mt-5">
            <div class=" card-body p-4">
                <h1 class="h4 mb-3 text-center">
                    ngRadar Sign in
                </h1>

               {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-danger">{{ message }}</div>
                    {% endfor %}
                {% endif %}

                <form method="post" action="">
                    {% csrf_token %}

                    <div class="mb-3">
                        <label for="id_username" class="form-label">Username</label>
                        <input type="text" name="username" id="id_username" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label for="id_password" class="form-label">Password</label>
                        <input type="password" name="password" id="id_password" class="form-control" required>
                    </div>

                    {# Preserve ?next= so user return to the page they originally wanted #}
                    <input type="hidden" name="next" value="{{ next }}">

                    <button type="submit" class="btn btn-primary w-100">Log in</button>
                </form>
            </div>
        </div>

    </div>

</div>
{% endblock %}

