{% extends 'ngRadar_Website/base.html' %}

<!-- Don't need to load static since it is in the base-->

{% block title %}Observation History{% endblock %}

{% block content %}

<!-- Style Sheets and HTMX were previously linked here but this is not necessary since we include the "extends base" statement-->

<div class="dashboard-wrapper d-flex flex-column min-vh-100" data-color-mode="SDS-light">
       
</header>
    
    <main class="flex-grow-0 container-fluid px-4 pt-4 pb-10">
        
        <!-- REAL-TIME LIVESTREAM DASHBOARD TARGET ZONE -->
        <!-- Polls the Django views every 3 seconds to inject raw database metrics below the header -->
        <div id="dashboard-content" 
             hx-get="{% url 'event_table_update' %}" 
             hx-trigger="every 3s" 
             hx-target="#dashboard-content"
             class="w-100">
            {% include 'ngRadar_Website/partials/dashboard_updates.html' %}
        </div>

    </main>

    <div class="Chart_padding" style="padding-top: 30px;"></div>
        {% include 'ngRadar_Website/partials/latency_graph.html' %}
    </div>


</div>
{% endblock %}
