{% extends 'ngRadar_Website/base.html' %}

{% block title %}Live Dashboard{% endblock %}

{% block content %}

<div>
<header class="text-center fs-5"><strong style="font-weight: 700 !important;">Current Time in UTC:</strong> <span id="live-clock"></span></header>
  <script>
          function getTime() {
              const now = new Date();
              //function will update the UI date and time using JS functionality
              // Extract UTC date and time components
              const year = now.getUTCFullYear();
              // Months are 0-indexed
              const month = String(now.getUTCMonth() + 1).padStart(2, '0');
              const day = String(now.getUTCDate()).padStart(2, '0');

              const hours = String(now.getUTCHours()).padStart(2, '0');
              const minutes = String(now.getUTCMinutes()).padStart(2, '0');
              const seconds = String(now.getUTCSeconds()).padStart(2, '0');

              // Assemble the formatted time
              const formattedTimestamp = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
              
              document.getElementById('live-clock').textContent = formattedTimestamp;
          
              }
          // Update the clock immediately and refresh every 1000ms
          getTime();
          setInterval(getTime, 1000);
      </script>
  
      <h4 class="mt-4 border rounded pt-3 pb-3 bg-white fw-bold ps-3 pe-3 text-center mx-auto"
        style="max-width: 30rem;">
        Live status here
      </h4>



</div>




{% include 'ngRadar_Website/partials/gbt_home_partial.html' %}
{% include 'ngRadar_Website/partials/dsoc_home_partial.html' %}
	

{% endblock %}
