
<!-- THE DATA ROWS -->
<div class="card shadow-sm border-0">
    <div class="card-body p-0">
        <div class="table-responsive">
            <table class="table table-hover align-middle mb-0">
                <thead class="table-dark">
                    <tr>
                        <th class ="py-3">Object ID</th>
                        <th class ="py-3">Target</th>
                        <th class ="py-3">Xmit Station</th>
                        <th class ="py-3">Rcvr Station</th>
                        <th class ="py-3">Tx Waveform</th>
                        <th class ="py-3">Rec Waveform</th>
                        <th class ="py-3">Payload</th>
                        <th class ="py-3">Timestamp</th>
                    </tr>
                </thead>
                <tbody>
                    {% for latest_event in latest_events %}
                    <tr>
                        <td>{{ latest_event.object_id}}</td>
                        <td>{{ latest_event.target}}</td>
                        <td>
                            {% if latest_event.xmit_station %}
                                <span class="text-muted">{{ latest_event.get_xmit_station_display }}</span>
                            {% else %}
                                <span class="text-muted">-</span>
                            {% endif %}
                        </td>

                        <td>
                            {% if latest_event.rcvr_station %}
                                <span class="text-muted">{{ latest_event.get_rcvr_station_display }}</span>
                            {% else %}
                                <span class="text-muted">-</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if latest_event.tx_waveform != "Tx_OFF"  %}
                                <span class="text-success fw-bold">{{ latest_event.tx_waveform|default:"-" }}</span>
                            {% else %}
                                <span class="text-danger fw-bold">{{ latest_event.tx_waveform|default:"-" }}</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if latest_event.rec_waveform != "Tx_OFF" %}
                                <span class="text-success fw-bold">{{ latest_event.rec_waveform|default:"-" }}</span>
                            {% else %}
                                <span class="text-danger fw-bold">{{ latest_event.rec_waveform|default:"-" }}</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if latest_event.image_key %}
                                <a href="{% url 'serve_image' latest_event.uuid %}" target="_blank">
                                    View image
                                </a>
                            {% else %}
                                <span class="text-muted">-</span>
                            {% endif %}
                        </td>
                        <td><small class="text-muted">{{ latest_event.event_time|date:"Y-m-d H:i:s" }}</small></td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="8" class="text-center text-muted">No current observation in progress. Active listening...</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Latency -->
<div class="row g-4 mb-4 mt-4" id="metric-cards">
    <!-- Latency Monitor Card -->
      <div class="col-md-4 mx-auto d-flex justify-content-center w-25">
        <div class="card h-100 border-0 shadow-sm">
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted text-uppercase fw-semibold small">Avg Stream Latency</h6>
                <div class="d-flex align-items-baseline">
                    <span class="fs-1 fw-bold me-2 text-dark">{{ avg_latency }}</span>
                    <span class="text-muted fw-medium">ms</span>
                </div>
                <!-- Dynamic Alert Status Badges -->
                <div class="mt-2">
                    {% if avg_latency < 1000 %}
                        <span class="badge bg-success-subtle text-success border border-success-subtle px-2.5 py-1">● Pipeline Optimal</span>
                    {% elif avg_latency < 3000 %}
                        <span class="badge bg-warning-subtle text-warning border border-warning-subtle px-2.5 py-1">▲ Warning: Heavy Load</span>
                    {% else %}
                        <span class="badge bg-danger-subtle text-danger border border-danger-subtle px-2.5 py-1">■ Critical Network Lag</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
