<div class="container mt-5">
  <div class="row g-4">
    <!-- Left column -->
    <div class="col-12 col-md-6">
      <div class="border rounded p-3 bg-white">
        <h5 class="mb-2">Latest CW Plot:</h5>
        <p class="mb-0">CW plot here</p>
      </div>


      <!-- add more rows as needed -->
    </div>

    <!-- Right column -->
    <div class="col-12 col-md-6">
      <div class="border rounded p-3 bg-white">
        <h5 class="mb-2">Latest DDM:</h5>
        <p class="mb-0">DDM here</p>
      </div>


      <!-- add more rows as needed -->
    </div>
  </div>
</div>
