<div class="container mt-4">
  <div class="row g-4">
    <!-- Left column -->
    <div class="col-12 col-md-6">
      <div class="border rounded p-3 bg-white">
        <h5 class="mb-2">Target:</h5>
        <p class="mb-0"> {{ latest_event.target }} </p>
      </div>

      <div class="border rounded p-3 bg-white mt-4">
        <h5 class="mb-2">Object ID:</h5>
        <p class="mb-0"> {{ latest_event.object_id }} </p>
      </div>
      
      <div class="border rounded p-3 bg-white mt-4">
        <h5 class="mb-2">Message Time (UTC):</h5>
        <p class="mb-0"> {{ latest_event.event_time|date:"F d Y H:i:s" }} </p>
      </div>

      <!-- add more rows as needed -->
    </div>

    <!-- Right column -->
    <div class="col-12 col-md-6">
      <div class="border rounded p-3 bg-white">
        <h5 class="mb-2">Input new waveform:</h5>
        <form action="{% url 'submit_waveform' %}" method="POST">
          {% csrf_token %}
          <select name="waveform" class="form-select mb-2">
            <option value="W45">W45</option>
            <option value="W46">W46</option>
            <option value="W47">W47</option>
            <option value="W48">W48</option>
            <option value="W49">W49</option>
            <option value="W50">W50</option>
            <option value="W51">W51</option>
            <option value="W52">W52</option>
            <option value="W53">W53</option>
            <option value="W54">W54</option>
            <option value="W55">W55</option>
          </select>
          <button type="submit" class="btn btn-primary">Submit Waveform</button>
        </form>
      </div>

      <div class="border rounded p-3 bg-white mt-4">
        <h5 class="mb-2">Transmitted Waveform:</h5>
        <p class="mb-0">{{ latest_event.tx_waveform }}</p>
      </div>

      <div class="border rounded p-3 bg-white mt-4">
        <h5 class="mb-2">Recorded Waveform:</h5>
        <p class="mb-0"> {{ latest_event.rec_waveform }} </p>
      </div>

      <!-- add more rows as needed -->
    </div>
  </div>
</div>
