<div class="row justify-content-center g-3">
  <!-- Left column -->
  <div class="col-12 col-md-6 col-lg-5">
    <div class="border rounded p-3 mb-3 bg-white d-flex align-items-center" style="min-height: 5rem;">
        <h5 class="fw-bold me-3 mb-0">Target: </h5>
        <p class="fs-5 mb-0"> {{ gbt_event.target }} </p>
    </div>

    <div class="border rounded p-3 mb-3 bg-white d-flex align-items-center" style="min-height: 5rem;">
        <h5 class="fw-bold me-3 mb-0">Object ID:</h5>
        <p class="fs-5 mb-0"> {{ gbt_event.object_id }} </p>
    </div>
      
    <div class="border rounded p-3 bg-white d-flex align-items-center" style="min-height: 5rem;">
        <h5 class="fw-bold me-3 mb-0">Message Time (UTC):</h5>
        <p class="fs-5 mb-0"> {{ gbt_event.event_time|date:"F d Y H:i:s" }} </p>
    </div>
  </div>

  <!-- Right column -->
  <div class="col-12 col-md-6 col-lg-5">
    <div class="border rounded p-3 mb-3 bg-white d-flex align-items-center" style="min-height: 5rem;">
        <h5 class="fw-bold me-3 mb-0">Transmitted Waveform:</h5>
        <p class="fs-5 mb-0">{{ gbt_event.tx_waveform }}</p>
    </div>

    <div class="border rounded p-3 bg-white d-flex align-items-center" style="min-height: 5rem;">
        <h5 class="fw-bold me-3 mb-0">Recorded Waveform:</h5>
        <p class="fs-5 mb-0"> {{ gbt_event.rec_waveform }} </p>
    </div>
  </div>
</div>
