<div class="Live_Latency_Graph" style="display:flex; justify-content:center; align-items:center;">
    <title>Live Graph</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <canvas id="LatencyChart" width="1000" height="500"></canvas>
    <style>
        #LatencyChart {
            background: #ffffff;
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 20px;
            padding-bottom: 20px;
        }
    </style>
    <script>
        const maxNumberOfMessages = 20; // Maximum number of messages to keep in the chart
        const ctx = document.getElementById('LatencyChart').getContext('2d');
        const Latency_Chart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [], // Time labels
                datasets: [{
                    label: 'Message Latency',
                    data: [], // Data points
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 2,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)'
                }]
            },
            options: {
                responsive: false,
                plugins: {
                    legend: {
                        labels: {
                            font: { size: 16 },
                            color: '#000'
                        }
                    }
                },
                scales: {
                    x: {
                        title:
                        {
                            display: true,
                            text: 'Time Sent (UTC)',
                            font: { size: 14 },
                            color: '#000'
                        },
                        ticks: { font: { size: 13 } }
                    },
                    y: {
                        title:
                        {
                            display: true,
                            text: 'Latency (ms)',
                            font: { size: 14 },
                            color: '#000',
                            ticks: { font: { size: 13 } }
                        },
                        beginAtZero: true
                    }
                }
            }
        });
        const source = new EventSource("{% url 'latency_graphing' %}");
        source.onmessage = function (event) {
            const data = JSON.parse(event.data);//receive the JSON blob
            let messageDateTime = data.time_sent;

            formattedDateTime = [messageDateTime.substring(0, 10), messageDateTime.substring(11, 19)]; //format the time

            let messageLatency = data.latency;
            let numberOfMessages = Latency_Chart.data.labels.length;

            if (numberOfMessages == 0) {
                Latency_Chart.data.labels.push(formattedDateTime);//push formatted time to the chart
                Latency_Chart.data.datasets[0].data.push(messageLatency);
            }
            else {
                if (Latency_Chart.data.labels.length > maxNumberOfMessages) {
                    Latency_Chart.data.labels.shift();// Removes oldest data points
                    Latency_Chart.data.datasets[0].data.shift();
                }
                else {
                    lastDateTime = Latency_Chart.data.labels[numberOfMessages - 1];//get the second to last time
                    lastDateTime_String = lastDateTime.join(" ");//combine array into a string for comparison
                    if (lastDateTime_String != messageDateTime)//only add the data if it is new
                    {
                        Latency_Chart.data.labels.push(formattedDateTime);//push formatted time to the chart
                        Latency_Chart.data.datasets[0].data.push(messageLatency);
                    }
                }
            }
            Latency_Chart.update();
        };
    </script>
</div>