<nav class="p-3 border-end" style="min-width: 220px;" aria-label="Primary">
        <div class="d-grid gap-2">
            <button onclick="window.location.href='/home/'" class="btn btn-dark" type="button">
            Home
            </button>
            <button onclick="window.location.href='/dashboard'" class="btn btn-dark" type="button">
            History Events Table
            </button>
            <button class="btn btn-dark" type="button">
            PRDX Files
            </button>
            <button class="btn btn-dark" type="button">
            TLEs
            </button>
            <button class="btn btn-dark" type="button">
            Plan Observation
            </button>
        </div>
        </nav>